<div class="container">
  <br><br>
  <div class="form-control">
      <label class="col-sm-2 h4" >Seleccione categoría: </label>
      <select id="sel1" class="form-select form-control-lg" [(ngModel)]="categoria" (change)="loadProductos()">
        <option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.nombre}}</option>
      </select>
  </div>
  <div>
    <br><br>
    <h1>Listado de productos</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio unitario</th>
          <th scope="col">Inventario</th>
          <th scope="col">Unidades</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.inventario}}</td>
            <td><input type="text" class="form-control" [(ngModel)]="producto.cantidadSolicitada"></td>
            <td><input type="button" class="form-control" value="Agregar" (click)="addToCart(producto)"></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <h1>Cesta</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Unidades</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elemento of cart; index as position">
            <td>{{elemento.producto.nombre}}</td>
            <td>{{elemento.producto.cantidadSolicitada}}</td>
            <td><input type="button" class="form-control" value="Remover" (click)="removeFromCart(position)"></td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <br>
      <input type="button" (click)="processOrder()"  class="btn btn-info btn-md" value="Procesar"><br>
    </div>
  </div>
</div>
